{% extends 'basehome.html.twig' %}

{% block title %}HomeController!{% endblock %}

{% block body %}

  <center><h2>

    {% if userBelongsTo(users_cfo, username) %}
      <div style="border-style: solid; border-color: grey">
        <font size="2">Riservato per l'ufficio CFO:</font><br>
        <a href="{{ path('editUser') }}" class="button" style="width:42%">New</a>
        <br><p><br>
        <a href="{{ path('showall') }}" class="button" style="width:42%">Show all</a>
        <br><p>
      </div>
    {% endif %}

{#
    {% if userBelongsTo(users_admin, username) %}
      <div style="border-style: solid; border-color: red">
        <font size="2">Only for administrators:</font>
        <br>
        <a href="{{ path('showall', { 'item': -1 }) }}" class="button" style="width:42%">Mostra lista INTERNA</a>
      </div>
    {% endif %}
#}

  </h2></center>

{% endblock %}
